<app-app-frame></app-app-frame>

<ion-content>
  
<ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-header>
  <ion-toolbar>
    <ion-title size="large" *ngIf="task">
      {{task.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea *ngIf="task" placeholder="Write a description..." value="{{task.description}}"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Duration</ion-label>
    <ion-input *ngIf="task" type="number" value="{{task.duration}}"></ion-input>
    <ion-label>Hours</ion-label>
    <ion-input *ngIf="task" type="number" value="{{task.duration}}"></ion-input>
    <ion-label>Minutes</ion-label>
    <ion-input *ngIf="task" type="number" value="{{task.duration}}"></ion-input>
    <ion-label>Seconds</ion-label>
  </ion-item>
</ion-content>
