<ion-header>
  <ion-toolbar>
    <ion-title>Routined</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">
        My Routines
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-routine-item *ngFor="let routine of getRoutines()" [routine]="routine"></app-routine-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
