<app-app-frame></app-app-frame>

<ion-content>
  <h2 *ngIf="routine">{{ routine.name }}</h2>
  <ion-grid>
    <ion-row>

      <!-- Start Time Picker -->
      <ion-col>
        <ion-datetime presentation="time"></ion-datetime>
      </ion-col>

      <!-- End Time Picker -->
      <ion-col>
        <ion-datetime presentation="time"></ion-datetime>
      </ion-col>

      <!-- Occurence Selection -->
      <ion-col>
        <ion-button *ngIf="routine" (click)="presentPicker()">{{ routine.occurence }}</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

  <!-- Task List -->
  <ion-list>
    <app-task-item *ngFor="let task of taskList" [task]="task"></app-task-item>
    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-list>

</ion-content>
